#map {
    height: 100vh;
}
#head-bar {
    height: 5%;
    background: #242222;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#menu-bar {
    width: 250px;
    background: black;
    float: left;
}
.fa-bars {
    margin-top: 6px;
    margin-left: 6px;
    color: #02b3e4;
}
.locations {
    color: white;
    text-align: center;
}
.filter-section {
}
.filter-button {
    color: white;
    background: #02b3e4;
}
.stations-list{
    height: 100vh;
    color: white;
    list-style-type: none;
    overflow-y:auto;
    padding-left:0px;
}
li {
    padding-top: 10px;
    margin-top: 10px;
}